<ion-view title="Numerical Analysis Calculator">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <center>
   	   <h1 class="padding">Numerical Analysis Calculator</h1>
	   <h4 class="padding">Juan Felipe Builes</h4>
	   <h4 class="padding">Sebastian Garces Montoya</h4>
	   <h4 class="padding">Jose Tobon</h4>
	   <h4 class="padding">Juan David Henao</h4>
	</center>
  </ion-content>
</ion-view>
