<ion-view title="Numerical Analysis Calculator">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <center>
   	   <h1 class="padding">Numerical Analysis Methods</h1>
	   <h4 class="padding">Juan Felipe Broz</h4>
	   <h4 class="padding"><strike>Lidier Andres Parias</strike></h4>
	   <p> Adapted from a previous template from: https://github.com/FelipeBuiles/CalcNA2.git</p>
	</center>
  </ion-content>
</ion-view>
